<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tajweed</title>
    <script src="telegram-web-app.js"></script>
    <script src="petite-vue.iife.js" defer init></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div v-scope="app" @vue:mounted="mounted" class="container">
      <select id="lesson-select" v-model="currentLessonId" @change="setLesson()">
        <option v-for="it in lessons" :value="it.id">{{ it.id }}. {{ it.name }}</option>
      </select>
      <div v-if="currentLessonId === '1'" id="alphabet" v-html="alphabetContent"></div>
      <div v-else id="lesson">
        <p v-if="hasDescription" id="description">{{ lesson.description }}</p>
        <div id="top-panel">
          <audio id="lesson-audio" controls loop controlsList="noplaybackrate nodownload"></audio>
          <div class="btn-box">
            <button icon="rewindBack" title="Перемотать назад на 5 с" @click="skip(-5)"></button>
            <button icon="rewindForward" title="Перемотать вперёд на 5 с" @click="skip(5)"></button>
            <button icon="slow" :class="{active: isAudioSlow}" title="Замедлить чтение" @click="toggleSpeed()"></button>
            <button icon="question" :class="{active: hasDescription}" title="Показать описание" @click="toggleDescription()"></button>
            <button icon="lamp" :class="{active: hasHint}" title="Показать изучаемую букву" @click="toggleHint()"></button>
          </div>
        </div>
        <p id="intro" class="red">{{ lesson.intro }}</p>
        <p id="words" v-html="words"></p>
      </div>
    </div>

    <script src="helpers.js"></script>
    <script src="icons.js"></script>
    <script src="content.js"></script>
    <script src="app.js"></script>
  </body>
</html>
