@font-face {
  font-family: ArabicFont;
  src: url(simplified-arabic.ttf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  margin: 0;
  padding: 20px;
  /* background: var(--tg-theme-bg-color, #ffffff);
  color: var(--tg-theme-text-color, #000000); */
  background: #ffffff;
  color: #000000;

  --main-color: blanchedalmond;
  --arabic-font: ArabicFont;
}

[v-cloak] {
  display: none;
}

.container {
  max-width: 476px;
  margin: 0 auto;
}
h1 {
  text-align: center;
  user-select: none;
}
p {
  text-indent: 5%;
  font-family: system-ui;
  text-align: justify;
  user-select: none;
}
#lesson-select {
  font-size: 20px;
  width: 100%;
  padding: 5px;
  border: 0;
  border-right: 10px solid transparent;
  border-radius: 6px;
  background: rgb(236, 236, 236);
  outline: none;
}

#alphabet,
#alphabet p .red {
  font-family: var(--arabic-font);
}
#alphabet table {
  border-collapse: collapse;
  direction: rtl;
  font-size: x-large;
  margin: 25px auto;
}
#alphabet table td {
  border: 2px solid orangered;
  text-align: center;
  color: red;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
#alphabet table td:hover {
  background-color: antiquewhite;
}

#top-panel {
  margin-top: 16px;
}
audio {
  width: 100%;
  height: 24px;
}
audio::-webkit-media-controls-panel {
  background-color: var(--main-color);
}
.btn-box {
  display: flex;
  gap: 5px;
}
.btn-box button {
  border: none;
  background-color: var(--main-color);
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}
.btn-box button:hover {
  background-color: rgb(253, 228, 189);
}
[icon='question'] {
  margin-left: auto;
}

#intro {
  font-size: 44px;
  word-spacing: 30px;
  background-color: var(--main-color);
  padding: 16px 10px;
  border-radius: 10px;
}
#intro:empty {
  display: none;
}
#words {
  font-size: 34px;
  line-height: 180%;
  word-spacing: 20px;
}
#intro,
#words {
  font-family: var(--arabic-font);
  text-align: center;
}

.red {
  color: red;
}
.active {
  color: chocolate;
}
